<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools.CrashReporter.CrashReportProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tools.CrashReporter.CrashReportProcess.Properties.Settings>
            <setting name="InternalLandingZone" serializeAs="String">
                <value>F:\InternalCrashReports\CrashReportRepository</value>
            </setting>
            <setting name="ExternalLandingZone" serializeAs="String">
                <value>\\na-web-cluster.dmz.epicgames.net\crash_reporter\CrashReportRepository</value>
            </setting>
			<setting name="DepotIndex" serializeAs="String">
				<value>crash-01</value>
			</setting>
        </Tools.CrashReporter.CrashReportProcess.Properties.Settings>
    </applicationSettings>
</configuration>
